<page-top [currentActive]="'Brands'"></page-top>
<div class="d-flex justify-content-between px-2 py-3 bg-light">
   <div class="table_action_btns">
      <div class="btn-group" role="group" aria-label="Button group">
         <button type="button" class="btn btn-sm btn-outline-success" (click)="refreshProducts()">Refresh</button>         
         <button type="button" class="btn btn-sm btn-outline-info">Convert to PDF</button>
         <button type="button" class="btn btn-sm btn-outline-primary" (click)="open()">New Product</button>
         <button type="button" class="btn btn-sm btn-outline-danger">Delete All</button>     
      </div>
   </div>
   <form>
      <div class="form-group form-inline" style="margin-bottom: 0 !important;">
         Search:<input class="form-control ml-2 py-0 search_input" type="text"/>
      </div>
   </form>
</div>
<div *ngIf="!loading; else loadingMessage">
   <table class="table table-striped table-inverse table-responsive">
      <thead class="thead-inverse">
         <tr>
            <th scope="col"></th>
            <th>Id</th>
            <th>Name</th>
         </tr>
         </thead>
         <tbody>
            <tr *ngFor="let brand of brands; index as index">
               <td class="text-centerc"> 
                  <a type="link" class="btn-link pr-1" 
                     style="margin-right: .2rem" [routerLink]="['/admin/brands',brand.id]">
                        <span class="btn-link-info"><i class="fas fa-glasses" aria-hidden="true"></i></span>&nbsp;View
                  </a>
                  <a type="link" class="btn-link pr-1" (click)="open(brand)" style="margin-right: .2rem">
                        <span class="btn-link-primary"><i class="fas fa-pen" aria-hidden="true"></i></span>&nbsp;Edit
                  </a>
                  <a type="link" class="btn-link pr-1" 
                     style="margin-right: .2rem" (click)="deleteBrand(brand)">
                        <span class="btn-link-danger"><i class="fas fa-minus-circle"></i></span>&nbsp;Delete
                  </a>
               </td>
               <!-- <td scope="row" class="text-right pl-0">{{index + 1}}.</td> -->
               <td class="link_row_item" scope="row" [routerLink]="[brand.id]">{{brand.id}}</td>
               <td class="link_row_item" [routerLink]="[brand.id]" data-toggle="tooltip" data-placement="top" 
                  title="Click to view this brand">{{brand.name}}</td>
            </tr>
         </tbody>
   </table>
   <div class="d-flex justify-content-between p-2">
      <p *ngIf="(last != collectionSize) || ((last == collectionSize) && (numberOfElements != 1)); else altPageReport">Showing {{first}} to {{last}} of {{collectionSize}} entries</p>
      <ng-template #altPageReport>Showing last of {{collectionSize}} entries</ng-template>
      <ngb-pagination [hidden]="collectionSize < pageSize" [collectionSize]="collectionSize" [(page)]="page" [maxSize]="5" [pageSize]="pageSize"
         [boundaryLinks]="true" [directionLinks]="true" [rotate]="true" (pageChange)="loadBrands()">
      </ngb-pagination>
      <select [hidden]="collectionSize < 10" class="custom-select" style="width: auto" [(ngModel)]="pageSize" (ngModelChange)="loadBrands(page=0)">
         <option [ngValue]="10" selected>10 rows</option>
         <option [ngValue]="15">15 rows</option>
         <option [ngValue]="20">20 rows</option>
         <option [ngValue]="50">50 rows</option>
      </select>
   </div>
</div>
<ng-template #loadingMessage>Loading...</ng-template>
